<launch>
	<!-- Run the map server -->
	<arg name="map_file" default="$(find atrv_navigation)/maps/atrv_scene1.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
	<!--- Run Move Base -->
	<include file="$(find atrv_navigation)/launch/move_base.launch" />
	<!-- load transforms  -->

	<!-- for gazebo simulation -->
	<!-- <node name='atrv_tf_broadcaster' pkg="atrv_navigation" type="tf_teleop_broadcast.py" respawn="false" output="screen" /> -->

	<!-- for vicon use on physical atrv aka when running in the real world -->
	<!-- Load atrv description, controllers, and teleop nodes. -->
	<include file="$(find atrv_descriptions)/launch/description.launch" />
	<include file="$(find atrv_control)/launch/control.launch" />
	<!-- transform map to match atrv origin and then link baselink to atrv pose from vicon  -->
	<node pkg="tf" type="static_transform_publisher" name="vicon_broadcaster" args="0 0 0 0 0 0 1 /vicon_origin map 20" />
	<node pkg="tf" type="static_transform_publisher" name="atrv_broadcaster" args="1 0 0 0 0 0 1 vicon/ATRV_1/ATRV_1 base_link 20" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find atrv_navigation)/rviz/navigation.rviz" />

</launch>